<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>狂野钓鱼总后台</title>

    <link rel="shortcut icon" href="/favicon.ico">
    <link href="../../../../../public/static/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="../../../../../public/static/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">

    <link href="../../../../../public/static/css/animate.min.css" rel="stylesheet">
    <link href="../../../../../public/static/css/style.min.css?v=4.1.0" rel="stylesheet">


</head>

<body class="gray-bg">

<div class="wrapper wrapper-content animated fadeInUp">
    <div class="row">
        <div class="col-sm-12">

            <div class="ibox">
                <div class="ibox-title">
                    <h5>会员等级
                        <small>会员等级设置</small>
                    </h5>
                </div>
                <div class="ibox-content" style="padding-left: 40px; padding-right: 40px;">
                    <form role="form" class="form-inline"  id="commentForm">

                        {volist name="result" id="vo"}
                        <div class="clearfix margin-bottom">
                            <div class="form-group">
                                <label class="sr-only">会员等级</label>
                                <input type="text" value="{$vo.level_name}"  placeholder="请输入会员等级名称" name="level_name[]" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="sr-only">所需经验值</label>
                                <input type="text" value="{$vo.experience}"   placeholder="请输入所需经验值" name="experience[]"  class="form-control">
                            </div>
                        </div>
                        <input type="hidden" value="{$vo.id}" name="id[]">
                        {/volist}
                        <button class="btn btn-primary" type="submit">保存</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../../../../../public/static/js/jquery.min.js?v=2.1.4"></script>
<script src="../../../../../public/static/js/bootstrap.min.js?v=3.3.6"></script>
<script src="../../../../../public/static/js/content.min.js?v=1.0.0"></script>
<script src="../../../../../public/static/js/plugins/validate/jquery.validate.min.js"></script>
<script src="../../../../../public/static/js/plugins/validate/messages_zh.min.js"></script>
<script src="../../../../../public/static/js/plugins/demo/form-validate-demo.min.js"></script>
</body>
</html>
