<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>狂野钓鱼总后台</title>

    <link rel="shortcut icon" href="/favicon.ico">
    <link href="../../../../../public/static/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="../../../../../public/static/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">

    <link href="../../../../../public/static/css/animate.min.css" rel="stylesheet">
    <link href="../../../../../public/static/css/style.min.css?v=4.1.0" rel="stylesheet">
    <link href="../../../../../public/static/js/plugins/sweetalert/sweetalert.css" rel="stylesheet">


</head>

<body class="gray-bg">

<div class="wrapper wrapper-content animated fadeInUp">
    <div class="row">
        <div class="col-sm-12">

            <div class="ibox">
                <div class="ibox-title">
                    <h5>钓场列表
                        <small>由后台添加的钓场信息列表</small>
                    </h5>
                    <div class="ibox-tools">
                        <a href="/admin/index/angling/angling_edit" class="btn btn-primary btn-xs"> 添加钓场 </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form action="" method="post" class="form-inline">
                    <div class="row">
                        <div class="col-md-1">
                            <button type="button"  onclick="window.location.reload();"  id="loading-example-btn" class="btn btn-white"><i  class="fa fa-refresh"></i> 刷新
                            </button>
                        </div>
                        <div class="col-sm-8">
                            <select id="s_province" name="province" class="form-control">
                                <option value="">请选择省</option>
                            </select>
                            <select id="s_city" name="province" class="form-control">
                                <option value="">请选择城市</option>
                            </select>
                            <select id="s_county" name="province" class="form-control">
                                <option value="">请选择区县</option>
                            </select>
                            <div class="input-group">
                                <input type="text" placeholder="请输入关键词" class="form-control">
                                    <span   class="input-group-btn">
                                            <button type="button" class="btn btn-sm btn-primary"> 搜索</button>
                                    </span>
                            </div>
                        </div>
                    </div></form>

                    <div class="row list-search">
                        <div class="col-md-3 text-center">
                            <div class="col-md-4 active list-title">全部钓场</div>
                        </div>
                    </div>
                    <div class="project-list">
                        <table class="table table-hover">
                            <tbody>
                            <tr>
                                <th>序号</th>
                                <th>钓场名称</th>
                                <th>所在地</th>
                                <th>人均</th>
                                <th>鱼种</th>
                                <th>状态</th>
                                <th>操作</th>
                            </tr>
                            {foreach name="result.data" item="vo" key="k" }
                            <tr>
                                <td>{$vo.id}</td>
                                <td>{$vo.title}</td>
                                <td>{$vo.address}</td>
                                <td>{$vo.price|strip_tags|str_cut=###,30,'...'}</td>
                                <td>{$vo.type}</td>
                                <td>正常</td>
                                <td><a href="/admin/index/angling/angling_edit/id/{$vo.id}">编辑</a>
                                    <a href="javascript:;" onclick="$delete('/admin/index/angling/angling_del','id={$vo.id}');">删除</a></td>
                            </tr>
                            {/foreach}
                            </tbody>
                        </table>
                        {$result.show}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../../../../../public/static/js/jquery.min.js?v=2.1.4"></script>
<script src="../../../../../public/static/js/bootstrap.min.js?v=3.3.6"></script>
<script src="../../../../../public/static/js/content.min.js?v=1.0.0"></script>
<script src="../../../../../public/static/js/plugins/citys/citys.js"></script>
<script src="../../../../../public/static/js/plugins/sweetalert/sweetalert.min.js"></script>
<script>
    $(function () {
        init_citys('s_province', 's_city', 's_county', '', '', '');
    });
</script>
</body>
</html>
