<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>狂野钓鱼总后台</title>

    <link rel="shortcut icon" href="/favicon.ico">
    <link href="../../../../../public/static/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="../../../../../public/static/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="../../../../../public/static/js/plugins/bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
    <link href="../../../../../public/static/js/plugins/chosen/chosen.css" rel="stylesheet">
    <link href="../../../../../public/static/css/animate.min.css" rel="stylesheet">
    <link href="../../../../../public/static/js/plugins/summernote/summernote.css" rel="stylesheet">
    <link href="../../../../../public/static/js/plugins/summernote/summernote-bs3.css" rel="stylesheet">
    <link href="../../../../../public/static/css/style.min.css" rel="stylesheet">

</head>

<body class="gray-bg">

<div class="wrapper wrapper-content animated fadeInUp">
    <div class="row">
        <div class="col-sm-12">

            <form class="form-horizontal m-t" id="commentForm">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>商品编辑
                            <small>商品编辑</small>
                        </h5>
                        <div class="ibox-tools">
                            <a href="#" class="btn btn-primary btn-xs win-back"> 返回 </a>
                        </div>
                    </div>
                    <div class="ibox-content m-t"><strong>基础信息</strong></div>
                    <div class="ibox-content">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">商品分类：</label>

                            <div class="col-sm-4">
                                <select id="type" name="type" class="form-control m-b chosen-select" required="" aria-required="true">
                                    <option value="">==一级分类==</option>
                                    {foreach name="type" item="vo" key="k"}
                                    <option hassubinfo="true" value="{$vo.id}">{$vo.title}</option>
                                    {/foreach}
                                </select>
                            </div>
                            <div class="col-sm-4">
                                <select id="typeid" name="typeid" class="form-control m-b chosen-select" value="{$info.typeid}" required="" aria-required="true">
                                    <option value="">==二级分类==</option>
                                    {foreach name="type2" item="vo" key="k"}
                                    <option hassubinfo="true" typepid="{$vo.pid}" value="{$vo.id}">{$vo.title}</option>
                                    {/foreach}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">商品名称：</label>

                            <div class="col-sm-9">
                                <input id="title" name="title" type="text" class="form-control" required="" value="{$info.title}" aria-required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">商品卖点：</label>

                            <div class="col-sm-9">
                                <textarea id="note" name="note" type="text" placeholder="商品特色、优势、简介等" class="form-control" required="" aria-required="true">{$info.note}</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">销售价：</label>

                            <div class="col-sm-9">
                                <input id="rmb_price" name="rmb_price" type="number" placeholder="商品实际销售价格" class="form-control" required="" value="{$info.rmb_price}" aria-required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">鱼古价：</label>

                            <div class="col-sm-9">
                                <input id="score_price" name="score_price" placeholder="设置鱼古数后，该商品自动转化为鱼古兑换商品" type="digits" class="form-control" required="" value="{$info.score_price}" aria-required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">市场价：</label>

                            <div class="col-sm-9">
                                <input id="market_price" name="market_price" placeholder="市场价格，需高于销售价" type="number" class="form-control" required="" value="{$info.market_price}" aria-required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">库存数：</label>

                            <div class="col-sm-9">
                                <input id="stock" name="stock" type="digits" placeholder="库存等于0时，无法购买" class="form-control" required="" value="{$info.stock}" aria-required="true">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">商品图片：</label>

                            <div class="col-sm-9">
                                <div class="clearfix img-list">
                                    {foreach name="info.images_list" item="vo" key="k" }
                                    <div class="pull-left relative addimg margin-bottom">
                                        <div class="margin-right">
                                            <img width="200" height="200" src="{$vo}"/>
                                        </div>
                                        <span class="fa fa-close img_del text-default" onclick="del_img()"></span></div>
                                    {/foreach}
                                </div>

                                <div class="height clearfix margin-top">
                                    <button type="button" class="btn btn-primary" style="vertical-align: bottom;" onclick="doUpload();">上传图片</button>
                                    <span>请上传800 x 800px 商品图片</span>
                                </div>

                                <input id="img_list" name="img_list" type="hidden" class="form-control" required="" value="{$info.img_list}" aria-required="true">
                            </div>
                        </div>
                    </div>

                    <!-- 商品多规格-->
                    <div class="ibox-content m-t"><strong>商品多规格</strong>
                        <span class="">【多规格商品不支持鱼古兑换，添加规格商品时候，以规格商品价格为准，销售价无效；无多规格可不填】</span>
                    </div>
                    <div class="ibox-content">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">规格设置</label>

                            <div class="col-sm-10">
                                <div class="row">
                                    <div class="col-md-3 radio-inline">规格
                                    </div>
                                    <div class="col-md-3 radio-inline">属性
                                    </div>
                                    <div class="col-md-2 radio-inline">价格
                                    </div>
                                    <div class="col-md-2 radio-inline">操作
                                    </div>
                                </div>
                            </div>
                        </div>
                        {empty name="info.style"}
                        <div class="form-group goods_style">
                            <label class="col-sm-2"></label>

                            <div class="col-sm-10">
                                <div class="row">
                                    <div class="col-md-3">
                                        <input type="text" name="style_name[]" placeholder="如：颜色、尺码、重量"  class="form-control">
                                    </div>
                                    <div class="col-md-3">
                                        <input type="text" name="style_info[]" placeholder="如：红色、xxl、150g"  class="form-control">
                                    </div>
                                    <div class="col-md-2">
                                        <input type="text" name="style_price[]"  class="form-control">
                                    </div>
                                    <div class="col-md-2 radio-inline">
                                        <a class="fa fa-plus add_type" onclick="add_goods_style(this)"></a>
                                        <a class="fa fa-remove m-l remove_type" onclick="remove_goods_style(this)"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {else /}
                        {foreach name="info.style" item="vo" key="k" }
                        <div class="form-group goods_style">
                            <label class="col-sm-2"></label>

                            <div class="col-sm-10">
                                <div class="row">
                                    <div class="col-md-3">
                                        <input type="text" name="style_name[]" placeholder="" value="{$vo.name}" class="form-control">
                                    </div>
                                    <div class="col-md-3">
                                        <input type="text" name="style_info[]" placeholder="" value="{$vo.info}" class="form-control">
                                    </div>
                                    <div class="col-md-2">
                                        <input type="text" name="style_price[]" placeholder="" value="{$vo.price}" class="form-control">
                                    </div>
                                    <div class="col-md-3 radio-inline">
                                        <a class="fa fa-plus add_type" onclick="add_goods_style(this)"></a>
                                        <a class="fa fa-remove m-l remove_type" onclick="remove_goods_style(this)"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {/foreach}
                        {/empty}
                    </div>


                    <!-- 商品参数-->
                    <div class="ibox-content m-t"><strong>商品参数</strong></div>
                    <div class="ibox-content">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">参数设置</label>

                            <div class="col-sm-10">
                                <div class="row">
                                    <div class="col-md-2 radio-inline">参数属性
                                    </div>
                                    <div class="col-md-3 radio-inline">参数描述
                                    </div>
                                    <div class="col-md-3 radio-inline">操作
                                    </div>
                                </div>
                            </div>
                        </div>
                        {empty name="info.param"}
                        <div class="form-group goods_type">
                            <label class="col-sm-2"></label>

                            <div class="col-sm-10">
                                <div class="row">
                                    <div class="col-md-2">
                                        <input type="text" name="name[]" placeholder="如品牌" value="" class="form-control">
                                    </div>
                                    <div class="col-md-3">
                                        <input type="text" name="info[]" placeholder="如品牌名" value="" class="form-control">
                                    </div>
                                    <div class="col-md-3 radio-inline">
                                        <a class="fa fa-plus add_type" onclick="add_goods_type(this)"></a>
                                        <a class="fa fa-remove m-l remove_type" onclick="remove_goods_type(this)"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {else /}
                        {foreach name="info.param" item="vo" key="k" }
                        <div class="form-group goods_type">
                            <label class="col-sm-2"></label>

                            <div class="col-sm-10">
                                <div class="row">
                                    <div class="col-md-2">
                                        <input type="text" name="name[]" placeholder="" value="{$vo.name}" class="form-control">
                                    </div>
                                    <div class="col-md-3">
                                        <input type="text" name="info[]" placeholder="" value="{$vo.info}" class="form-control">
                                    </div>
                                    <div class="col-md-3 radio-inline">
                                        <a class="fa fa-plus add_type" onclick="add_goods_type(this)"></a>
                                        <a class="fa fa-remove m-l remove_type" onclick="remove_goods_type(this)"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {/foreach}
                        {/empty}
                    </div>


                        <div class="ibox-content m-t"><strong>商品描述</strong></div>
                        <div class="ibox-content">
                            <div class="summernote" id="content">{$info.content}</div>
                        </div>
                        <div class="ibox-content m-t"><strong>其它设置</strong></div>
                        <div class="ibox-content">

                            <div class="form-group">
                                <label class="col-sm-2 control-label">原产地：</label>

                                <div class="col-sm-9">
                                    <input id="source" name="source" type="text" class="form-control" required="" value="{$info.source}" aria-required="true">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">运费设置：</label>

                                <div class="col-sm-9">

                                    <div class="col-sm-4">
                                        <input id="post_price" name="post_price" placeholder="首件" type="number" class="form-control" required="" value="{$info.post_price}" aria-required="true"></div>
                                    <div class="col-sm-4">
                                        <input id="post_price2" name="post_price2" placeholder="续件" type="number" class="form-control" required="" value="{$info.post_price2}" aria-required="true">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">立即上架：</label>

                                <div class="col-sm-9">
                                    <div class="radio radio-info radio-inline">
                                        <input type="radio" id="inlineRadio1" value="1" name="issale" checked="">
                                        <label for="inlineRadio1"> 是 </label>
                                    </div>
                                    <div class="radio radio-inline">
                                        <input type="radio" id="inlineRadio2" value="0" name="issale">
                                        <label for="inlineRadio2"> 否 </label>
                                    </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-3">
                                    <button class="btn btn-primary" type="submit">发布</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="../../../../../public/static/js/jquery.min.js?v=2.1.4"></script>
<script src="../../../../../public/static/js/bootstrap.min.js?v=3.3.6"></script>
<script src="../../../../../public/static/js/content.min.js?v=1.0.0"></script>
<script src="../../../../../public/static/js/plugins/chosen/chosen.jquery.js"></script>
<script src="../../../../../public/static/js/plugins/validate/jquery.validate.min.js"></script>
<script src="../../../../../public/static/js/plugins/validate/messages_zh.min.js"></script>
<script src="../../../../../public/static/js/plugins/demo/form-validate-demo.min.js"></script>
<script src="../../../../../public/static/js/plugins/summernote/summernote.min.js"></script>
<script src="../../../../../public/static/js/plugins/summernote/summernote-zh-CN.js"></script>
<script src="../../../../../public/static/js/plugins/layer/layer.min.js"></script>
<script src="../../../../../public/static/js/plugins/upload/jquery.upload.js"></script>
<script src="../../../../../public/static/js/plugins/toastr/toastr.min.js"></script>
<script>
    //初始化图片url
    var imglist_val = [];
    var pic_len = 6;
    $(document).ready(function () {
        $(".summernote").summernote({
            height: 480,
            lang: "zh-CN",
            onImageUpload: function (files, editor, $editable) {
                sendFile(files,editor,$editable);
            }
        });
        $('input[name="style_name[]"]').change(function(){
            toastr.options = {
                "hideDuration": "1001"
            }
            if($(this).val()!=""){
                $('#rmb_price').attr('disabled','disabled');
                $('#score_price').attr('disabled','disabled').val(0);
               // $(this).parents('.goods_style').find('input').rules("add", { required: true, messages: { required: "也是必填"} });

                toastr.warning("添加商品规格后，将清除原有鱼古设置;价格以规格商品价格为准。", "商品规格设置");
            }else{
                $('#rmb_price').removeAttr('disabled');
                $('#score_price').removeAttr('disabled');
            }
        })

        function sendFile(file, editor, $editable) {
            var formData = new FormData();
            formData.append("filedata", file[0]);
            formData.append("up", 1);
            $.ajax({
                data: formData,
                type: "POST",
                url: '/admin/index/upload',
                cache: false,
                contentType: false,
                processData: false,
                success: function(data) {
                    editor.insertImage($editable, data.datas);
                },
                error: function() {

                }
            })
        }

        $('#type').click(function () {
            $('#typeid option').hide().removeAttr('selected');
            $('#typeid option').eq(0).show().attr('selected', 'selected');
            $('#typeid option[typepid=' + $(this).val() + ']').show();
        });
        var typepid = $('#typeid option[value=' + $('#typeid').attr('value') + ']').attr('typepid');
        $('#typeid option').hide().removeAttr('selected');
        $('#typeid option').eq(0).show();
        $('#typeid option[typepid=' + typepid + ']').show();
        $('#typeid').val($('#typeid').attr('value'));
        $('#type').val(typepid);
    });

    function add_goods_type(e) {
        var html = '<div class="form-group goods_type"><label class="col-sm-2"></label><div class="col-sm-10"><div class="row"><div class="col-md-2"><input type="text"name="name[]"placeholder=""class="form-control"></div><div class="col-md-3"><input type="text"name="info[]"placeholder=""class="form-control"></div><div class="col-md-3 radio-inline"><a class="fa fa-plus add_type"onclick="add_goods_type(this)"></a><a class="fa fa-remove m-l remove_type" onclick="remove_goods_type(this)"></a></div></div></div></div>';
        var next = $(e).parents('.goods_type');
        next.after(html);
    }

    function remove_goods_type(e) {
        if ($('.goods_type').size() > 1) {
            var rov = $(e).parents('.goods_type').remove();
        }
    }

    function add_goods_style(e) {
        var html = '<div class="form-group goods_style"><label class="col-sm-2"></label><div class="col-sm-10"><div class="row"><div class="col-md-3"><input type="text"name="style_name[]"placeholder=""class="form-control"></div><div class="col-md-3"><input type="text"name="style_info[]"placeholder=""class="form-control"></div><div class="col-md-2"><input type="text"name="style_price[]"placeholder=""class="form-control"></div><div class="col-md-2 radio-inline"><a class="fa fa-plus add_type"onclick="add_goods_style(this)"></a><a class="fa fa-remove m-l remove_type" onclick="remove_goods_style(this)"></a></div></div></div></div>';
        var next = $(e).parents('.goods_style');
        next.after(html);
    }

    function remove_goods_style(e) {
        if ($('.goods_style').size() > 1) {
            var rov = $(e).parents('.goods_style').remove();
        }
    }

    function doUpload() {
        // 上传方法
        $.upload({
            // 上传地址
            url: '/admin/index/upload',
            // 文件域名字
            fileName: 'filedata',
            // 其他表单数据
            params: {up: 1},
            // 上传完成后, 返回json, text
            dataType: 'json',
            // 上传之前回调,return true表示可继续上传
            onSend: function () {
                if ($('.updata_pic').size() >= pic_len) {
                    $(window).appalert({
                        msg: "每个商品最多只能上传6张图片"
                    });
                    return false;
                } else {
                    return true;
                }
            },
            // 上传之后回调
            onComplate: function (data) {
                var img_h = '<div class="pull-left clearfix relative addimg"><div class="margin-right"><img class="updata_pic" width="200" height="200"/></div><span class="fa fa-close img_del"></span></div>'
                $('.img-list').prepend(img_h);
                $('.updata_pic').eq(0).attr('src', data.datas).show();

                var deval = $('input[name=img_list]').val();
                if (deval != "") {
                    //imglist_val.unshift(deval);
                }
                imglist_val.unshift(data.datas);
                console.log(imglist_val);
                $("input[name=img_list]").val(imglist_val.toString());

                //删除图片事件
                del_img();
            }
        });
    }

    function del_img() {
        Array.prototype.del = function (n) {
            if (n < 0) {
                return this;
            } else {
                return this.slice(0, n).concat(this.slice(n + 1, this.length));
            }
        };

        $('.img_del').each(function (i, e) {
            $(this).click(function () {
                var index = $('.img_del').index($(this)); //当前按钮的索引值
                var html = $(this).parent('.addimg');
                html.remove();
                var val = $("input[name=img_list]").val().split(',');
                console.log(val);
                val = val.del(index);
                imglist_val = imglist_val.del(index);
                $("input[name=img_list]").val(val.toString());
            })
        });

    }
</script>
</body>

</html>